body {
    background-image: url('https://images.pexels.com/photos/1708601/pexels-photo-1708601.jpeg?cs=srgb&dl=pexels-brett-sayles-1708601.jpg&fm=jpg');
    color:antiquewhite;
    font-family: fantasy;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background-color: black;
    margin-left:0%;
    width: 100%;
}
div {
    color: black;
    margin: auto;
    width: 30%;
    padding: 20px;
    background-color:rgba(255, 225, 192, 0.708);
    border-style: solid;
    border-color: black;
}
.tree {
    height: 100px;
    width: 100px;
}